.section-2{
  background-color: var(--color-7);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;



  &__items{
    display: flex;
    &_item-box{
      margin: 1rem;
      & img{
        max-height: 10rem;
        border-radius: 50%;
        width: 100%;
        // height: auto;
        display: block;
      }
    }
  }
}